NODE_ENV=test
HOST=127.0.0.1
PORT=4001
API_INTERNAL_URL=http://127.0.0.1:4001
DATABASE_URL=mysql://YOUR_USER:YOUR_PASSWORD@127.0.0.1:3306/just4kids_test
DOCKER_DATABASE_URL=mysql://YOUR_USER:YOUR_PASSWORD@host.docker.internal:3306/just4kids_test
